*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

header {
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.lego-logo {
    position: relative;
    top: 15px;
}

.desktop-view {
    display: flex;
    justify-content: space-between;
}

.logo-search-desk-con {
    position: relative;  
    left: 20px;
    top: -5px;
}

.search {
    position: absolute;
    top: 26px;
    left: 55px;
    cursor: pointer;
}

.search-int {
    padding: 10px 30px 10px 30px;
    border-radius: 50px;
    background-color: gainsboro;
    border: 1px solid transparent;
    outline: transparent;
}

nav {
    position: relative;
    top: -7px;
    display: flex;
    gap: 55px;
    right: 100px;
    align-items: center;
}

.opt {
    position: relative;
    top: 18px;
    right: 80px;
    /* display: flex; */
    word-spacing: 15px;
}
.mobile-view, .nav-mobile {
    display: none;
}

.pf {
    border-radius: 50%;
    background-image: url(images/profile.jpg);
    width: 45px;
    height: 45px;
    background-size: cover;
    position: relative;
    left: 130px;
    bottom: 40px;
    cursor: pointer;
}

.arrw {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: whitesmoke;
    border-radius: 50%;
}

/* main */

.desktop-view-main {
    position: relative;
    top: 40px;
    /* display: grid;
    grid-template-columns: 1fr 600px 1fr; */
    display: flex;
    justify-content: space-between;
}

/* left main */
.left-main {
    /* border: 1px solid black; */
    height: 550px;
    width: 380px;
    padding: 10px;
    position: fixed;
}

.left-con {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile2, .friend, .group, .message, .video, .market, .dashboard, .alert, .search2 {
    display: flex;
    align-items: center;
    gap: 10px;
}
/* center main */
 .center-main {
    /* border: 1px solid black; */
    /* height: 500px; */
    width: 600px;
    padding: 10px;
    margin: 0 auto;
    position: relative;
    top: 50px;
 }

 .pf2 {
    border-radius: 50%;
    background-image: url(images/profile.jpg);
    width: 45px;
    height: 45px;
    background-size: cover;
    cursor: pointer;
}

.pf3 {
    border-radius: 50%;
    background-image: url(images/jessica.jpg);
    width: 45px;
    height: 45px;
    background-size: cover;
    cursor: pointer;
}

.pf4 {
    border-radius: 50%;
    background-image: url(images/profile.webp);
    width: 45px;
    height: 45px;
    background-size: cover;
    cursor: pointer;
}
.pf5 {
    border-radius: 50%;
    background-image: url(images/main-pic.jpg);
    width: 45px;
    height: 45px;
    background-size: cover;
    cursor: pointer;
}

.con-post {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    border: 1px solid;
    height: 120px;
    padding: 10px;
    border-radius: 10px;
    margin-top: -10px;
}

.post {
    width: 500px;
    padding: 10px;
    border-radius: 50px;
    outline: none;
    border: transparent;
    background-color: gainsboro;
}

.pf-nm-1 {
    margin: 50px 10px 50px 10px;
    display: flex;
    justify-content: space-between;
}

 .right-main {
    /* border: 1px solid black; */
    height: 550px;
    width: 380px;
    position: fixed;
    right: 0;
 }

 .p-opt {
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 50px;
 }

.stories-con {
    display: grid;
    overflow-x: scroll;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: -30px;
}
.item {
    width: 120px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    background-size: contain;
    background-image: url(images/profile.jpg);
    background-repeat: no-repeat;
    position: relative;
    opacity: 0.8;
}
.item2 {
    width: 120px;
    height: 200px;
    /* background-color: green; */
    border: 1px solid;
    border-radius: 10px;
}
.item3 {
    width: 120px;
    height: 200px;
    /* background-color: yellow; */
    border: 1px solid;
    border-radius: 10px;
}
.item4 {
    width: 120px;
    height: 200px;
    /* background-color: blue; */
    border: 1px solid;
    border-radius: 10px;
}
.item5 {
    width: 120px;
    height: 200px;
    /* background-color: brown; */
    border: 1px solid;
    border-radius: 10px;
}
.item6 {
    width: 120px;
    height: 200px;
    /* background-color: pink; */
    border: 1px solid;
    border-radius: 10px;
}
.item7 {
    width: 120px;
    height: 200px;
    /* background-color: rosybrown; */
    border: 1px solid;
    border-radius: 10px;
}
.item8 {
    width: 120px;
    height: 200px;
    /* background-color: darkorange; */
    border: 1px solid;
    border-radius: 10px;
}
.circle-plus {
    position: absolute;
    border: 5px solid white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: 20px;
    left: 40px;
    background-color: black;
    text-align: center;
    line-height: 30px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    cursor: pointer;

}
.c-s {
    position: absolute;
    bottom: 2px;
    left: 24px;
    cursor: pointer;
}

.engage {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

/* right main */
.right-main {
   display: flex;
   flex-direction: column;
   row-gap: 50px;
   justify-content: center;
   align-items: center;
}

.adv1 {
    width: 95%;
    height: 250px;
    /* background-color: blue; */
    background-image: linear-gradient( to top right, blue 50%, brown 50%);
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px double white;
}

.adv1 h4 {
    color: white;
    rotate: -45deg;
    font-size: 40px;
}

.adv2 {
    width: 95%;
    height: 250px;
    /* background-color: brown; */
    background-image: linear-gradient( to top right, brown 50%, blue 50%);
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     border: 5px double white;
}

.adv2 h4 {
    color: white;
    rotate: -45deg;
    font-size: 40px;
}

/* footer {
    position: relative;
    top: 150px;
    height: 40px;
    background-color: black;
} */